image:
  repository: ghcr.io/ironcore-dev/gardener-extension-provider-ironcore
  tag: latest
  pullPolicy: IfNotPresent

replicaCount: 1
maxUnavailable: 1
maxSurge: 50%

resources: {}
vpa:
  enabled: true
  resourcePolicy:
    minAllowed:
      cpu: 50m
      memory: 64Mi
  updatePolicy:
    updateMode: "Auto"

metricsPort: "{{ index .Values.usablePorts 0 }}"
healthPort: "{{ index .Values.usablePorts 2 }}"

controllers:
  backupbucket:
    concurrentSyncs: 5
  backupentry:
    concurrentSyncs: 5
  controlplane:
    concurrentSyncs: 5
  healthcheck:
    concurrentSyncs: 5
  heartbeat:
    renewIntervalSeconds: 30
  infrastructure:
    concurrentSyncs: 5
  bastion:
    concurrentSyncs: 5
  worker:
    concurrentSyncs: 5
  ignoreOperationAnnotation: false

disableControllers: []
disableWebhooks: []
ignoreResources: false

# Overwrite component images if needed e.g. in dev/testing environments
#imageVectorOverwrite: |
#  images:
#    - name: cloud-controller-manager
#      sourceRepository: github.com/ironcore-dev/cloud-provider-ironcore
#      repository: ghcr.io/ironcore-dev/cloud-provider-ironcore
#      tag: "sha-889754f"
#    - name: machine-controller-manager-provider-ironcore
#      sourceRepository: github.com/ironcore-dev/machine-controller-manager-provider-ironcore
#      repository: ghcr.io/ironcore-dev/machine-controller-manager-provider-ironcore
#      tag: "sha-361a2de"
#    - name: csi-driver
#      sourceRepository: github.com/ironcore-dev/ironcore-csi-driver
#      repository: ghcr.io/ironcore-dev/ironcore-csi-driver
#      tag: "v0.1.3"

webhookConfig:
  servicePort: 443
  serverPort: "{{ index .Values.usablePorts 1 }}"

## settings for metrics, e.g. scraping by seed-prometheus
##
metrics:
  ## enable metrics scraping
  ##
  enableScraping: true

config:
  clientConnection:
    acceptContentTypes: application/json
    contentType: application/json
    qps: 100
    burst: 130
  etcd:
    storage:
      className: gardener.cloud-fast
      capacity: 25Gi
      provisioner: kubernetes.io/gce-pd
      volumeBindingMode: WaitForFirstConsumer
  featureGates: {}
  bastionConfig:
    image: ""
    machineClassName: ""
    volumeClassName: ""
  backupBucketConfig:
    bucketClassName: ""
#   DisableGardenerServiceAccountCreation: false
gardener:
  version: ""
  gardenlet:
    featureGates: {}
  seed:
    provider: ironcore

usablePorts:
- 8080  # metrics
- 10250 # webhook server
- 8081  # healthcheck
